<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一个vue应用</title>
    <script src="js/vue.js"></script>

</head>

<body>
    <div id="box">
        <p>{{message}}</p>
        <input type="text" v-model="message">
        <input type="text" v-model="message">
        <br>
        {{msg}}
        <br>
        <ul>
            <li v-for="(value,index) in arr">
                 {{value}} <p>{{index}}</p>
            </li>
            <li v-for="(k,v,index) in json">
                {{k}} {{v}} {{index}}
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el:'#box',
            data:{
                message:'hello world',
                msg:12,
                arr:['apple','banana','orange'],
                json:{a:'I',b:'have',c:'a',d:'dream'}
            }
        });
    </script>
</body>

</html>